body{
    background-color: black;
}
.netflix{
    position: fixed;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-color: rgba(46, 28, 28, 0.64);
}
h3{
    color: white;
    
}
.w{
    margin-left: 60px;
    margin-top: 70px;
}
.y{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    font-size: x-large;
    background-color: rgba(128, 128, 128, 0.749);
}
header{
    margin-top: 0px;
}
.l{
    background-image: url(https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQbm_e3DQYMqYApzHilEi8qF94zu9K_GiyEvxjgvBkIQNQSa7-BkkHBIisOIdPFdIkc77oWrA-a6LV8egGCoszLt1hpQ2TJz8-IBiUVfp8qwimlu3D5Yk83WUteWY1dElPHDp3DQco9xxtM3EHutQeyAvttk.jpg?r=f03);
    height: 700px;
    background-size: cover;
}
p{
    width: 600px;
    color: white;
    font-size: large;
}
.h{
    background-color: rgba(128, 128, 128, 0.586);
}
input{
    background-color: white;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bolder;
}
.k{
    margin-top: 20px;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
}
section{
    display: flex;
    justify-content: space-evenly;
}
.j{
    margin-top: 20px;
    margin-left: 20px;
}
.g{
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
.t{
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
main{
    color: white;
    font-size: x-large;
    margin-left: 400px;
    margin-top: 100px;
    
}
.n{
    margin-top: 30px;
    color: white;
    margin-left: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.x{
    color: white;
    margin-left: 190px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.q{
    color: white;
    margin-left: 220px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}